.wrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	position: relative;
  z-index: 2;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51,51,51,0.5);
}

.static {
	background: #E3DCD2;
}

.section {
	position: relative;
	height: 100vh;
	display: flex;
	color: red;
	text-align: center;
	font-size: 3rem;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.parallax::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateZ(-1px) scale(1.5);
	background-size: 100%;
	z-index: -1;
  background-color: var(--main-color-black);
}


.green {
	background-color: var(--main-color-green);
}
.black {
	background-color: var(--main-color-black);
}
.beige {
	background-color: var(--main-color-beige);
}
@media (min-width : 1024px) {
	
}